body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
main section{
     margin-top: 50px;
     margin-bottom: 50px;
     margin-left: 120px;
     margin-right: 120px;
}
/* common class */
.text{
     color: #FFFFFF;
}
.span-2{
     color:#FF0000;
}
/* section-1 */
.section-1{
     background-image: url('../images/BannerImage.png');
     width:1320px;
     height: 600px;
     background-repeat: no-repeat;
     


}
.section-1 .text h1{
     font-size: 72px;
}
.section-1 .text h3{
     font-size: 32px;
}
.text{
     padding: 177px 344px;
}
/* section -2 */
.new-year{
     padding: 120px 398px;
}
.new-year .new-year-text{
     color: #FF0000;
     font-weight: bold;
     font-size: 88px;
}
.new-year h4{
     font-size: 24px;
     color: #FF0000;
}
.new-year h2{
     color: #070211;
     font-size: 48px;
     font-weight: bold;
}
/* section--3 */
.section-3{
     background-image: url('../images/vector.png') ;
     background-repeat: no-repeat;
     width:1320px;
     height: 600px;
    
     

}
.section-3 .section-3-img{
     display: flex;
     justify-content: space-around;
}
.section-3 .birthday-img{
     padding-top: 68.11px;
     padding-left: 39px;
     padding-right: 138px;
     padding-bottom: 67.23px;
}

 .section-3 .welcome{
     font-size: 64px;
     color: #FFFFFF;
 }
 .section-3 .para{
     color: #FFFFFF;
     font-size: 18px;
 }
 .section-3 .span-1{
     font-weight: bold;
     font-size: 20px;
     color: #FFFFFF;
 }
 .birthday-text{
     padding-left: 126px;
     padding-top: 126px;
    
 }
 /* section4 */
 .section4{
     text-align: center;
 }
 .section4 .join-now{
     padding: 16px 32px;
     background-color: #FF0000;
     color: #FFFFFF;
     border: none;
     border-radius: 8px;
 }
 .section4 .para-2{
     font-size: 32px;
     font-weight: 600;
 }
 .section4{
     background-color: #e1dae6;
     width:1320px;
     height: 483px;
     border-radius: 16px;
 }
 .section4 .section4-para{
     padding: 100px 385px;

 }