.merriweather-sharif {
     font-family: "Merriweather", serif;
     font-optical-sizing: auto;
     
     font-style: normal;
     font-variation-settings:
       "wdth" 100;
   }
body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
main section{
     margin-top: 50px;
     margin-bottom: 50px;
     margin-left: 120px;
     margin-right: 120px;
}
/* common class */
.text{
     color: #FFFFFF;
}
.span-2{
     color:#FF0000;
}
/* section-1 */
.section-1{
     background-image: url('../images/BannerImage.png');
     width:1320px;
     height: 600px;
     background-repeat: no-repeat;
     


}
.section-1 .text h1{
     font-size: 72px;
}
.section-1 .text h3{
     font-size: 32px;
}
.text{
     padding: 177px 344px;
}
/* section -2 */
.new-year{
     padding: 120px 398px;
}
.new-year .new-year-text{
     color: #FF0000;
     font-weight: bold;
     font-size: 88px;
}
.new-year h4{
     font-size: 24px;
     color: #FF0000;
}
.new-year h2{
     color: #070211;
     font-size: 48px;
     font-weight: bold;
}
/* section--3 */
.section-3{
     background-image: url('../images/vector.png') ;
     background-repeat: no-repeat;
     width:1320px;
     height: 600px;
    
     

}
.section-3 .section-3-img{
     display: flex;
     justify-content: space-around;
}
.section-3 .birthday-img{
     padding-top: 68.11px;
     padding-left: 39px;
     padding-right: 138px;
     padding-bottom: 67.23px;
}

 .section-3 .welcome{
     font-size: 64px;
     color: #FFFFFF;
 }
 .section-3 .para{
     color: #FFFFFF;
     font-size: 18px;
 }
 .section-3 .span-1{
     font-weight: bold;
     font-size: 20px;
     color: #FFFFFF;
 }
 .birthday-text{
     padding-left: 126px;
     padding-top: 126px;
    
 }
 /* section4 */
 .section4{
     text-align: center;
 }
 .section4 .join-now{
     padding: 16px 32px;
     background-color: #FF0000;
     color: #FFFFFF;
     border: none;
     border-radius: 8px;
 }
 .section4 .para-2{
     font-size: 32px;
     font-weight: 600;
 }
 .section4{
     background-color: #e1dae6;
     width:1320px;
     height: 483px;
     border-radius: 16px;
 }
 .section4 .section4-para{
     padding: 100px 385px;

 }
 /* section-5 */
 .section5 .section-coming{
     display: flex;
     justify-content: space-between;
    
 }
 .section5 .coming-soon{
     width: 463px;
     height: 463px;
     border-radius: 100%;
     border: 8px solid #FF0000;
   
     align-items: center;
 }
 .section5 .coming-soon img{
     width: 364.84px;
     height:364.84px;
     margin: 49.08px 49.08px;
 }
 .section5 .section-offer{
     padding-top: 104px;
 }
 .section5 .text-offer{
     padding-top: 112px;
 }
 .section5 .section-offer h3{
     font-size: 24px;
     font-weight: 400px;
     color: #FF0000;
 }
 .section5 .section-offer h1{
     color: #070211;
     font-size: 48px;
 }
 .section5 .section-offer p{
     color: #070211;
     font-size: 20px;
 }
 .section5 .text-offer{
     margin-top: 50px;
     margin-left: 118px;
 }
 .section5 .text-offer img{
     margin-top: 43px;
     width: 140px;
     height: 140px;
 }
 .section5 .text-offer span{
     font-size: 48px;
     font-weight: bold;
     color: #FF0000;
 }
 .section6 .section6-text{
     text-align: center;
 }
 .section6 .section6-text h3{
     color: #070211;
     font-weight: 400;
 }
 .section6 .section6-text h1{
     color: #070211;
     font-size: 72px;

 }
 .section6 .section6-text span{
     color: #FF0000;
     font-size: 72px;
 }
 .section6{
     width: 1230px;
     height:986px ;
 }
 /*  */
 .triangle{
     position: relative;
 }
 .percent-1{
     position: absolute;
     right: 0;
 }
 .my-red{
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: -2;
 }
 /* section-7 */
 .section7 .my-image-1{
     display: grid;
     gap: 24px;
     grid-template-columns: repeat(3 ,1fr);
     grid-template-rows: repeat(2 ,1fr);
 }
 .section7{
     width: 1320px;
     height: 1163px;
 }
 .section7 h3{
     font-size: 24px;
     color: #FF0000;
     font-weight: 400px;
 }
 .section7 h1{
     font-size: 48px;
     color: #070211;
     font-weight: bold;
 }
 .section7 p{
     font-size: 20px;
     color: #070211;
     
 }
 /* section8 */
 .section8{
     text-align: center;
     background-color: #fbe9d7;
     width: 1320px;
     height: 616px;
     border-radius: 16px;
 }
 .section8 .section-8-img{
     padding-top: 80px;
 }
 .section8 .section8-btn{
     padding-top: 48px;
 }